<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="<%= BASE_URL %>chunk-vendors/css/dlpocStyle.css">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <script src="<%= BASE_URL %>chunk-vendors/js/anrajs.js"></script>
    <script src="<%= BASE_URL %>chunk-vendors/js/api.js"></script>
    <title>Example</title>
  </head>
  <body>
    <!--example 模块视图，id与main.js的 id 对应 Start-->
    <div id="app"></div>
    <!--example 模块视图，id与main.js的 id 对应 End-->
  </body>
</html>