<!DOCTYPE html>
<html lang="en" style="height: 100%;width: 100%;">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <script src="<%= BASE_URL %>chunk-vendors/js/anrajs.js"></script>
    <script src="<%= BASE_URL %>chunk-vendors/js/vue.min.js"></script>
    <script src="<%= BASE_URL %>chunk-vendors/js/api.js"></script>
    <link href="<%= BASE_URL %>chunk-vendors/css/dlpocStyle.css">
    
    <title>服务市场</title>
  </head>
  <body style="height: 100%;">  

    <div id="app"></div>
  </body>
</html>
