.canvas-default {
    position: absolute;
    top: 0;
    left: 0;
    width: 350%;
    height: 350%;
}

.canvas-default g {
    transition: all 0.5s;
}

.canvas-poper {
    position:absolute;
    border-radius:4px;
}

.connection-wrap {
    fill: none;
    stroke:rgb(22,45,77);
    stroke-width: 8;
    stroke-linecap: round;
    stroke-linejoin: round;
    opacity: 0;
    cursor: move;
    transition: opacity .5s
}

.dashline{
    stroke-dasharray:20;
    stroke-dashoffset: 200;
}

.connection-wrap:hover {
    opacity: .4;
    stroke-opacity: .4;
}

.grid-line {
    fill: none;
    stroke: #000000;
    stroke-width: 1;
    opacity: 0.5;
}

.grid-obstacle {
    pointer-events: none;
    stroke: none;
    stroke-width: 1;
    stroke: #000000;
    stroke-opacity: 0.5;
    opacity: 0.5;
}